body {
    font-family: helvetica, sans-serif;
}

.outer {
    text-align: center;
}

.page {
    max-width: 1200px;
    width: 100%;
    display: inline-block;
}

.container {
    width: 96%;
    margin: auto;
    max-width: 1200px;
}

.topnav {
    background-color: #BE554E;
    height: 100px;
    text-align: left;
    font-family: helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
}

/* HERO IMAGE */
.hero_content {
    margin-top: 150px;
    text-align: left;
}

.hero_text_headline {
    margin-top: 5px;
    font-size: 45px;
    color: #1C3B5E;
}

.hero_text_subheadline {
    font-size: 23px;
    margin-top: 10px;
    color: #000000;
}

.hero_content img {
    width: 70%;
}

.hero_content:hover {
    animation-fill-mode: forwards;
    animation-name: changescale;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

@keyframes changescale {
    from {transform: scale(1,1);}
    to {transform: scale(1.2,1.2);}
}


