body {
   font-family: "Exo 2", sans-serif;
   font-weight: 600;
   font-size: 18px;
   margin: 0;
   padding: 0;
}

.page {
    color: #346ccd;
    font-size: 75px;
    text-align: left;
    margin-top: 25px;
    margin-left: 25px;
    z-index: 1;
    width: 100%;
}

.outer {
    text-align: center;
}

.navbar {
    position: sticky; /* Safari */
    top: 0;
    width: 100%;
    height: 100px;
    background-color: skyblue;
    z-index: 100;
    opacity: .9;
    flex-grow: 1;
    text-align: left;
}

.navhere {
    color: #7FB438;
}

.topofpage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
}

.logo {
    margin-left: 95px;
    text-align: left;
    max-width: 400px;
}

.logo2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_img {
    width: 100%;
    max-width: 200px;
}

.search {
    margin-right: auto;
    max-width: 60px;
}

.search_img{
    width: 70%;
}

.join-community {
    margin-right: 20px;
    margin-left: auto;
}

.headline{
    color: #FFF;
}

.outer.tile.tilebg5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.page .join-community {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    white-space: nowrap;
}

a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    margin-right: 15px;
}

a:hover {
    color: #0541A8;
}

.tile {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.tilebg1 {
     background-image: url("img/peacekeeper.png");
}

.tilebg2 {
    background-image: url("img/suicidesquad.png");
}

.tilebg3 {
    background-image: url("img/batman.png");
}

.tilebg4 {
    background-image: url("img/mortalkombat.png");
}

.tilebg5 {
    background-image: url("img/community.png");
}
