<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Grid</title>
  <meta name="description" content="Basic Grid">
  <meta name="keywords" content="html, css,floats, float left, float right, clearfix, simple grid">  
  <meta name="author" content="Intro to Web"> 
    
  <!-- THIS IS A LINK TO THE EXTERNAL .CSS --> 
  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/layout.css">
        
</head>
  
<body>

<div style="max-width:1000px;width:100%">

SIDE BAR COMPONENTS
  <div class="side_bar">
    <img src="img/oscars-predictions.png" />
    <span class="section">Oscars</span></br>
    <span class="side-headline">Sandys Kenyon's Oscar Prediction</span>

  </div>
    <div class="side_bar">
    <img src="img/oscars-red-carpet-fashion.png" />
    <span class="section">Oscars</span></br>
    <span class="side-headline">Oscars red carpet fashion just as recognized as the award winners</span>

  </div>
    <div class="side_bar">
    <img src="img/man-arrested-subway.png" />
    <span class="section">News</span></br>
    <span class="side-headline">Man arrested after pushing women onto subway tracks</span>

  </div>
    <div class="side_bar">
    <img src="img/advertisment-amazon.png" />
    <span class="section">Ads</span></br>
    <span class="side-headline">Goodbye To Free Returns? Amazon Releases New Fees</span>

  </div>
    <div class="side_bar">
    <span class="continued_side_bar">2 NY National Guard members killed in helicopter crash</span>

  </div>
    <div class="side_bar">
    <span class="continued_side_bar">AccuWeather: Increasingly windy</span>

  </div>

  </div>
    <div class="side_bar">
    <span class="continued_side_bar">Heavy rain causes flooding in parts of New Jersey</span>

  </div>

  </div>
    <div class="side_bar">
    <span class="continued_side_bar">Princess of Wales appears in 1st photo since surgery amid speculation</span>

  </div>

  </div>
    <div class="side_bar">
    <span class="continued_side_bar">Certain trucks remporarily banned on 7 bridges due to high winds</span>

  </div>
</div>


HERO SECTION
  <div class="hero_content">
      <img src="img/oscars-2024.png" alt="oscars 2024"/>
      <p class="hero_text_headline">Oscars 2024: How to watch, What to expect on Hollywood's biggest night
      </p>
      <p class="hero_text_subheadline">
      When Hollywood gathers for the 96th Academy Awards, the blockbuster biopic "Oppenheimer" is widley expected to overpower all competition. 
      </p>
  </div>

</div>
</body>
</html>